@font-face {
	font-family: 'jwp';
	src: url('../assets/fonts/jwp.TTF');
}

@font-face {
    font-family: 'fog';
    src: url('../assets/fonts/Foglihten.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('../assets/fonts/raleway.ttf');
}

@font-face {
    font-family: 'typewriter';
    src: url('../assets/fonts/Typewriter.ttf');
}